.loginButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1677FF;
  background: transparent;
  font-weight: bold;
  border: 2px solid #1677FF;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect: Change text & icon color, and add background */
.loginButton:hover {
  background: #1677FF;
  color: white;
  border-color: #1677FF;
}

.loginButton:hover > svg {
  fill: white;
}

